.header {
  //menu
  &__menu-item > {
    button {
      all: unset;
      cursor: pointer;
    }

    a,
    button {
      position: relative;
      text-align: center;

      &:hover {
        &::after {
          opacity: 1;
          transform: translateX(-50%) scaleX(1);
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        display: block;

        width: 100%;
        height: 3px;
        border-radius: 1rem;
        background-color: var(--color-text);
        opacity: 0;

        transition: all 0.5s ease;
      }

      & > svg {
        margin-left: 0.5rem;
      }
    }
  }

  //menu Xl -- menu in header toolbar
  @include media("xl") {
    &__menu {
      list-style-type: none;
      padding-right: 2vh;
      width: 50%;

      position: absolute;
      left: 50%;
      transform: translateX(-75%);

      @include flex(space-between);

      &-icon {
        display: none;
      }

      & > * {
        float: left;
        height: auto;

        a {
          text-decoration: none;
        }
      }
    }
  }

  //menu Xs - Xl -- menu like aside
  @include media("xs", "xl") {
    justify-content: space-between;

    &__menu {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);

      list-style-type: none;
      height: 99vh;
      z-index: 10;
      border: {
        bottom-right-radius: 2rem;
        top-right-radius: 2rem;
      }
      background-color: rgba(map-get($MainColorSassVar, "fg"), 0.4);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);

      transition: left 0.5s ease-in-out, width 0.5s ease-in-out;
      left: 0;

      @include flex();

      @include media("md", "xl") {
        --menu-width: calc(5 * var(--first-fibo) + 2rem);
        box-shadow: 5px 0px 20px 9px rgba(map-get($MainColorSassVar, "fg"), 0.4);
      }

      @include media("xs", "md") {
        --menu-width: 99vw;
      }

      width: var(--menu-width);

      & > * {
        min-width: 100%;
        text-align: center;
        height: auto;
        font-size: 2rem;

        a {
          text-decoration: none;
        }
      }

      &-icon {
        all: unset;
        position: relative;
        cursor: pointer;
        z-index: 11;
        transition: left 0.5s ease-in-out;
        left: 0;

        &,
        & > svg {
          width: var(--first-fibo);
          height: var(--first-fibo);
        }

        &::before {
          font-size: var(--first-fibo);
          color: var(--color-bg);
        }

        &.close {
          position: fixed;
          top: 3vh;
          left: calc(5vw + 1vh);
          color: var(--color-bg);
        }
      }
    }
  }
}
