* {
  @include reset() {
    color: var(--color-text);
    overflow: hidden;
    box-sizing: border-box;
    font-family: var(--font);
  }
}

html {
  overflow-y: visible;

  @include scroller(
    (
      width: 0.5rem,
    ),
    transparent,
    #fffa
  );

  &[lang="fa"] * {
    direction: rtl;
  }

  &:not(:lang(fa)) * {
    direction: ltr;
  }
}

body {
  background-color: var(--color-bg);
}

.link--special {
  $bgc: var(--color-bg);

  text-decoration: none;
  background-image: linear-gradient(
    0deg,
    $bgc,
    $bgc 0.5rem,
    transparent 0,
    transparent
  );
  border-radius: 5px;

  &:hover {
    background-image: linear-gradient(
      0deg,
      $bgc,
      $bgc 0.9rem,
      transparent 0,
      transparent
    );
  }
}

.blur {
  width: 100vw;
  height: 100vh;

  background-color: rgba(var(---color-text-rgb), 0.3);

  position: fixed;
  top: 0;
  left: 0;

  z-index: 12;

  @supports (backdrop-filter: blur(20px)) {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

.loading {
  animation: loading linear infinite 1s;
}

@keyframes loading {
  0% {
    background: rgb(var(--color-fg-rgb), 1);
  }

  50% {
    background: rgb(var(--color-fg-rgb), 0.8);
  }

  100% {
    background: rgb(var(--color-fg-rgb), 1);
  }
}
