.info {
  section {
    display: grid;
    grid-template: {
      columns: auto auto;
      rows: auto auto;
    }
    padding: 0.5rem;

    h4 {
      margin-bottom: 0.5rem;
      line-height: 1.5rem;
    }

    figure {
      @include flex();
      margin: 0.5rem 0;
    }
  }

  @include media("xl", "xxl") {
    font-size: 1.5rem;
  }

  @include media("xxl") {
    font-size: 2rem;
  }

  *::first-letter {
    //not for all of the words just first word in first letter
    text-transform: uppercase;
  }

  &__ {
    &summary {
      min-width: 50vw;
      padding: 0 0.5rem;
    }

    &image img {
      height: calc(var(--first-fibo) * 5);
      width: calc(var(--first-fibo) * 5);
      border-radius: 1rem;
    }

    &model {
      grid-column: 2;
      overflow: visible;

      img {
        height: calc(var(--first-fibo) * 5);
        width: calc(var(--first-fibo) * 5);
        border-radius: 1rem;
      }
    }

    &hr {
      all: unset;
      display: block;
      width: 75%;
      height: 0.25rem;
      background-color: var(--color-text);
      margin: {
        block: {
          start: 1.5em;
          end: 1.5em;
        }
        inline: {
          start: auto;
          end: auto;
        }
      }
      border-radius: 1rem;
    }

    &read,
    &icon {
      all: unset;
      display: inline-block;
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &icon {
      width: var(--first-fibo);
      height: var(--first-fibo);
      position: absolute;
      top: 0;
      margin: 1rem 1rem;
      z-index: 10;
      background-color: var(--color-bg);
      border-radius: 100%;

      @include media("md") {
        top: 1rem;
      }

      html[lang="fa"] & {
        left: 0;

        &.info__refresh {
          left: calc(var(--first-fibo) + 1rem);
        }
      }

      html & {
        right: 0;

        &.info__refresh {
          right: calc(var(--first-fibo) + 1rem);
        }
      }
    }

    &refresh {
      @include flex();

      svg {
        width: 75%;
        height: 75%;
      }
    }
  }

  @include media("xs", "md") {
    section {
      grid-template: {
        columns: auto;
        rows: auto auto auto;
      }
    }

    &__ {
      &model,
      &image,
      &summary {
        grid-column: 1;
      }

      &model {
        grid-row: 3;
      }

      &image {
        grid-row: 2;
      }

      &summary::after {
        content: "";
        display: block;
        width: 75%;
        height: 0.25rem;
        border-bottom: 1px solid #000;
        margin: {
          block: {
            start: 1.5em;
            end: 1.5em;
          }
          inline: {
            start: auto;
            end: auto;
          }
        }
        background-color: var(--color-text);
        border-radius: 1rem;
      }
    }
  }
}
