.table {
  direction: ltr;
  display: grid;
  grid-template: {
    rows: repeat(10, auto);
    columns: repeat(19, auto);
  }
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem;

  section {
    transition: 1s all var(--animation);
  }

  .Atom:first-of-type {
    margin-bottom: 0.5rem;
  }

  @include media("xs", 860) {
    .Atom {
      font-size: 0.8rem !important;
    }

    .row,
    .col {
      display: none;
    }

    sub,
    sup {
      font-size: 0.5rem !important;
    }
  }

  @include media("xl") {
    font-size: 1.2rem;

    .Atom {
      font-size: 1.2rem;

      sub {
        font-size: 1rem;
      }
    }
  }

  @include media("xxl") {
    font-size: 1.5rem;

    .Atom {
      font-size: 1.5rem;

      sub {
        font-size: 1.3rem;
      }
    }
  }

  @include media("xs", "md") {
    grid-template: {
      rows: repeat(162, auto);
      columns: auto;
    }
    margin-bottom: calc(var(--first-fibo) * 6);
  }

  @include media("xs", 370) {
    margin-bottom: calc(var(--first-fibo) * 2);
  }

  @include media("xs", 300) {
    section {
      display: none;
    }

    margin-bottom: calc(var(--first-fibo) * 1);
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba(var(--color-text-rgb), 0.2);
  }
}
