.table {
  direction: ltr;
  display: grid;
  grid-template: {
    rows: repeat(10, auto);
    columns: repeat(19, auto);
  }
  text-align: center;
  border-radius: 0.5rem;

  section {
    transition: 1s all var(--animation);
  }

  @include media("xs", 860) {
    .Atom {
      font-size: 0.8rem !important;
    }

    sub,
    sup {
      font-size: 0.5rem !important;
    }
  }
}
