//size variable:
$breakpoints: (
  "xs": 0,
  "sm": 480,
  "md": 720,
  "lg": 960,
  "xl": 1200,
  "xxl": 1400,
);

$colors: (
  light: (
    "fg": (
      244,
      241,
      222,
    ),
    "text": (
      61,
      64,
      91,
    ),
    "bg": (
      242,
      204,
      143,
    ),
  ),
  dark: (
    "fg": (
      68,
      60,
      104,
    ),
    "bg": (
      57,
      48,
      83,
    ),
    "text": (
      229,
      229,
      203,
    ),
  ),
);

:root {
  //animation:
  --animation: cubic-bezier(0.78, 0.13, 0.12, 0.81);
}

body {
  //light theme:
  &.light {
    @each $name, $code in map-get($colors, "light") {
      --color-#{$name}-rgb: #{$code};
      --color-#{$name}: rgb(#{$code});
    }
  }

  //dark theme:
  &.dark {
    @each $name, $code in map-get($colors, "dark") {
      --color-#{$name}-rgb: #{$code};
      --color-#{$name}: rgb(#{$code});
    }
  }
}
