$colors: (
  light: (
    "fg": #f4f1de,
    "text": #3d405b,
    "bg": #f2cc8f,
  ),
  dark: (
    "bg": #264653,
    "fg": #2a9d8f,
    "text": #e9c46a,
  ),
);

$MainColorSassVar: map-get($colors, "light");

//size variable:
$breakpoints: (
  "xs": 0,
  "sm": 480,
  "md": 720,
  "lg": 960,
  "xl": 1200,
  "xxl": 1400,
);

:root {
  //theme:
  $theme: light;

//   @media (prefers-color-scheme: dark) {
//     $theme: dark;
//     $MainColorSassVar: map-get($colors, "dark");
//   }

  //make color vars:
  @each $name, $code in map-get($colors, $theme) {
    --color-#{$name}: #{$code};
  }

  //animation:
  --animation: cubic-bezier(.78,.13,.12,.81);
}
