$colors: (
  light: (
    "fg": (
      244,
      241,
      222,
    ),
    "text": (
      61,
      64,
      91,
    ),
    "bg": (
      242,
      204,
      143,
    ),
  ),
  dark: (
    "fg": (
      44,
      54,
      57,
    ),
    "bg": (
      44,
      51,
      51,
    ),
    "text": (
      220,
      215,
      201,
    ),
  ),
);

//size variable:
$breakpoints: (
  "xs": 0,
  "sm": 480,
  "md": 720,
  "lg": 960,
  "xl": 1200,
  "xxl": 1400,
);

:root {
  //theme:
  @media (prefers-color-scheme: dark) {
    @each $name, $code in map-get($colors, "dark") {
      --color-#{$name}-rgb: #{$code};
      --color-#{$name}: rgb(#{$code});
    }
  }

  //make color vars:
  @each $name, $code in map-get($colors, "light") {
    --color-#{$name}-rgb: #{$code};
    --color-#{$name}: rgb(#{$code});
  }

  //animation:
  --animation: cubic-bezier(0.78, 0.13, 0.12, 0.81);
}
